
body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.food-munch-logo {
  width: 60px;
  height: auto;
}
.banner {
  height: 90vh;
  background: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/foodmunch-banner-bg.png') no-repeat center center;
  background-size: cover;
}
.card-title {
  font-weight: 600;
}
footer {
  font-size: 15px;
}
